<!-- Ce fichier de launch lance les noeuds pour
	- regulation_voilier (qui s'abonne a la position reelle (pas capteur))
	- simulation_voilier avec le script python
	POUR CHAQUE VOILIER (=4) et le noeud d'affichage
	- pyplot_disp_all avec matplotlib -->
<launch>
	<!-- SAILBOAT 1 -->
	<node name="regulation_voilier1" pkg="shepherd_reg" type="regulation_voilier">
		<remap from="sailboat/pose_est" to="sailboat1/pose_noisy"/>
		<remap from="sailboat/cmd" to="sailboat1/cmd"/>
		<remap from="sailboat/triangleCenter" to="sailboat1/triangleCenter"/>
	</node>

	<node name="simulation_voilier1" pkg="shepherd_simu" type="sailboat_sim.py">
		<remap from="sailboat/cmd" to="sailboat1/cmd"/>
		<remap from="sailboat/pose_real" to="sailboat1/pose_real"/>
	</node>


	<!-- SAILBOAT 2-->
	<node name="regulation_voilier2" pkg="shepherd_reg" type="regulation_voilier">
		<remap from="sailboat/pose_est" to="sailboat2/pose_noisy"/>
		<remap from="sailboat/cmd" to="sailboat2/cmd"/>
		<remap from="sailboat/triangleCenter" to="sailboat2/triangleCenter"/>
	</node>

	<node name="simulation_voilier2" pkg="shepherd_simu" type="sailboat_sim.py">
		<remap from="sailboat/cmd" to="sailboat2/cmd"/>
		<remap from="sailboat/pose_real" to="sailboat2/pose_real"/>
	</node>


	<!-- SAILBOAT 3 -->
	<node name="regulation_voilier3" pkg="shepherd_reg" type="regulation_voilier">
		<remap from="sailboat/pose_est" to="sailboat3/pose_noisy"/>
		<remap from="sailboat/cmd" to="sailboat3/cmd"/>
		<remap from="sailboat/triangleCenter" to="sailboat3/triangleCenter"/>
	</node>

	<node name="simulation_voilier3" pkg="shepherd_simu" type="sailboat_sim.py">
		<remap from="sailboat/cmd" to="sailboat3/cmd"/>
		<remap from="sailboat/pose_real" to="sailboat3/pose_real"/>
	</node>


	<!-- SAILBOAT 4 -->
	<node name="regulation_voilier4" pkg="shepherd_reg" type="regulation_voilier">
		<remap from="sailboat/pose_est" to="sailboat4/pose_noisy"/>
		<remap from="sailboat/cmd" to="sailboat4/cmd"/>
		<remap from="sailboat/triangleCenter" to="sailboat4/triangleCenter"/>
	</node>

	<node name="simulation_voilier4" pkg="shepherd_simu" type="sailboat_sim.py">
		<remap from="sailboat/cmd" to="sailboat4/cmd"/>
		<remap from="sailboat/pose_real" to="sailboat4/pose_real"/>
	</node>


	<!-- DISPLAY -->

	<node name="display_matplotlib" pkg="shepherd_disp" type="pyplot_disp_all.py"/>

</launch>